.yellow {
  background-color: yellow;
  height: 100vh;
}

.enter {
  transform: translateX(100%);
}

.enterActive {
  transform: translateX(0);
  transition: transform  2000ms;
}

.page {
  height: 100vh;
  background-color: yellow;
}
